* {
  box-sizing: border-box;
}

body {
  margin-top: 120px;
}

.seperator {
  margin: 0px 10px !important;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  background: #fff;
  font-size: 20px;

  text-align: center;
  margin-top: 250px;
}

.topbar {
  position: fixed;
  height: 100px;
  top: 0px;
  left: 0px;
  right: 0px;

  overflow: hidden;

  background: #F2F2F2;
  border-bottom: 1px solid #DDD;
}

.topbar h1 {
  overflow: hidden;
  padding: 20px;
  margin: 0px 100px 0px 0px;
  line-height: 60px;
}

.topbar h1 * {
  float: left;
  height: 60px;
}

.topbar h1 a, .topbar h1 a:visited, .topbar h1 a:active {
  color: black;
  text-decoration: none;
}

.topbar h1 a:hover {
  text-decoration: underline;
}

.topbar h1 img {
  margin-right: 20px;
}

ul {
  list-style: none;
  margin: 20px;
  padding: 0px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

ul li {
  border-bottom: 1px solid #DDD;
}

ul li:nth-child(even) {
  background: #F2F2F2;
}

ul li:last-of-type {
  border-bottom: none;
}

.repositories .repository {
  padding: 15px 25px;
  height: 70px;
  overflow: hidden;
  cursor: pointer;
}

.repositories .repository h2 {
  float: left;
  margin: 0px;
  line-height: 40px;
  font-weight: normal;
}

.repositories .repository .issues {
  float: right;
  line-height: 40px;
  text-align: right;
  color: #666;
}

.issues .issue {
  padding: 25px;
  cursor: pointer;
}

.issues .issue h2, .issues .issue h3 {
  font-size: 20px;
  line-height: 26px;
  margin: 0px;
}

.issues .issue h2 {
  float: right;
  color: #999;
  font-weight: normal;
}

.issues .issue h3 {
  margin-right: 100px;
  margin-bottom: 10px;
}

.issues .issue .meta {
  overflow: hidden;
  color: #666;
}

.issues .issue .meta * {
  float: left;
  line-height: 24px;
  height: 24px;
  margin: 0px;
  padding: 0px;
}

.issues .issue .user {
  overflow: hidden;
}

.issues .issue .user img {
  margin-right: 5px;
}
